<div>
  <ul id="filters">
    <li><a href="#" id="features" class="selected">#feature</a></li>
    <li><a href="#" id="bugs" class="selected">#bug</a></li>
    <li><a href="#" id="todos" class="selected">#todo</a></li>
  </ul>
  <div id="teamMenu"></div>
	<ul id="potatoes"></ul>
</div>
