<div>
  <ul id="filters">
    <li><a href="#" id="features" class="selected">#feature</a></li>
    <li><a href="#" id="bugs" class="selected">#bug</a></li>
    <li><a href="#" id="todos" class="selected">#todo</a></li>
    <li><a href="#" id="to-users" class="selected">To: </a> 
      <ul id="to-users-list" class="drop-list" style="display: none;">
      {{#to_users}}
        <li><a href="#" id="to-{{ this }}" class="selected user">@{{this}}</a></li>
      {{/to_users}}
      </ul>
    </li>
    <li><a href="#" id="from-users" class="selected">From: </a> 
      <ul id="from-users-list" class="drop-list" style="display: none;">
      {{#from_users}}
        <li><a href="#" id="from-{{ this }}" class="selected user">@{{this}}</a></li>
      {{/from_users}}
      </ul>
    </li>
  </ul>
  <div id="teamMenu"></div>
	<ul id="potatoes"></ul>
</div>
